*{
    box-sizing: border-box;
}

.modal-container{
    width: 200px;
    height: fit-content;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right:10px;
    background-color: rgb(199, 199, 199);
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}
/* HELPERS */
